h1{
  color: white;
  font-family: 'Trade Winds' ;
  text-align: center;
}

h2{
  color: white;
  font-family: 'Trade Winds' ;
  text-align: center;
}

header{
  background-color: black;
}

body{
  background-color: maroon;
}
